{% extends "base.jinja" %}

{% block content %}
  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <div class="card">
        <div class="card-content">
          <p>ShuffleCraft is an unofficial Minecraft datapack generator that shuffles your recipes! The recipes for planks, crafting tables, and furnaces are unchanged,
          but the rest is up to you to figure out! Every pack is different, so give it a try!</p>
          &nbsp;
          <a class="button is-large is-fullwidth is-success" href="/download" id="download">Download Now</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#download').click(function(e) {
      e.preventDefault();
      window.location.href = '/download?r=' + Math.random() + "&r2=" + Math.random();
    })
  </script>
{% endblock content %}