{% extends "base.jinja" %}

{% block content %}
  <div class="columns is-centered">
    <div class="column is-half">
      <a class="button is-large is-fullwidth is-success" href="/download">Download Now</a>
    </div>
  </div>
{% endblock content %}